<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.herbarium">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Herbarium"
        tools:targetApi="31">
        <activity
            android:name=".GuideActivity"
            android:exported="false"
            android:label="@string/title_activity_guide"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".YerbaActivity"
            android:exported="false"
            android:label="@string/title_activity_yerba"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".UlasimangBatoActivity"
            android:exported="false"
            android:label="@string/title_activity_ulasimang_bato"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".SambongActivity"
            android:exported="false"
            android:label="@string/title_activity_sambong"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".LagundiActivity"
            android:exported="false"
            android:label="@string/title_activity_lagundi"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".BalbasPusaActivity"
            android:exported="false"
            android:label="@string/title_activity_balbas_pusa"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".AmpalayaActivity"
            android:exported="false"
            android:label="@string/title_activity_ampalaya"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".BayabasActivity"
            android:exported="false"
            android:label="@string/title_activity_bayabas"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".NiyogNiyoganActivity"
            android:exported="false"
            android:label="@string/title_activity_niyog_niyogan"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".MalunggayActivity"
            android:exported="false"
            android:label="@string/title_activity_malunggay"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".OreganoActivity"
            android:exported="false"
            android:label="@string/title_activity_oregano"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".TsaangGubatActivity"
            android:exported="false"
            android:label="@string/title_activity_tsaang_gubat"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".TOSActivity"
            android:exported="false"
            android:label="@string/title_activity_tosactivity"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".AkapulkoActivity"
            android:exported="false"
            android:label="@string/title_activity_akapulko"
            android:theme="@style/Theme.Herbarium.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MoreActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>